// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/**
 * Page divider 2
 */
.section-heading {
  margin-top: 0;
}
.service-box {
  margin: 50px auto 0;
  max-width: 400px;
  p {
    margin-bottom: 0;
  }
}
@media(min-width:992px) {
  .service-box {
    margin: 20px auto 0;
  }
}

/**
 * Page divider 3
 */
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    background: rgba(238, 153, 0, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);

      .project-name,
      .project-category {
        padding: 0 15px;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
      }
      .product-name {
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        border:2px solid white;
        font-size: 18px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
      .project-category {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
      .project-name {
        font-size: 18px;
      }
    }
  }

}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media(min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content{
    .project-category {
      font-size: 16px;
    }
    .project-name {
      font-size: 22px;
    }
  }
}

/**
 * Page divider 4
 */
.popular-box {
  position: relative;
  width:470px;
  max-height: 262px;
  min-height: 262px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}