body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
section{
  padding:60px 0;
}
.extra-padding{
  padding-left: 3%;
  padding-right: 3%;
}
.no-padding{
  padding:0;
  margin: 0;
}
.no-padding-left{
  padding-left:0;
  margin-left: 0;
}
.comment td,
.comment th{
  width: 100%;
  float: left;
}