// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-round {
  border-radius: 20px;
  -webkit-border-radius: 20px
}

.accordion-heading .accordion-toggle {
  display: block;
  cursor: pointer;
  border-top: 1px solid #F5F5F5;
  padding: 5px 0;
  line-height: 28.75px;
  text-transform: uppercase;
  color: #1a1a1a;
  background-color: #fff;
  outline: 0 !important;
  text-decoration: none
}

.btn-theme {
  color: #fff;
  background-color: #68dff0;
  border-color: #48bcb4
}

.btn-theme.active, .btn-theme:active, .btn-theme:focus, .btn-theme:hover, .open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4
}

.btn-theme02 {
  color: #fff;
  background-color: #ac92ec;
  border-color: #967adc
}

.btn-theme02.active, .btn-theme02:active, .btn-theme02:focus, .btn-theme02:hover, .open .dropdown-toggle.btn-theme02 {
  color: #fff;
  background-color: #967adc;
  border-color: #967adc
}

.btn-theme03 {
  color: #fff;
  background-color: #48cfad;
  border-color: #37bc9b
}

.btn-theme03.active, .btn-theme03:active, .btn-theme03:focus, .btn-theme03:hover, .open .dropdown-toggle.btn-theme03 {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b
}

.btn-theme04 {
  color: #fff;
  background-color: #ed5565;
  border-color: #da4453
}

.btn-theme04.active, .btn-theme04:active, .btn-theme04:focus, .btn-theme04:hover, .open .dropdown-toggle.btn-theme04 {
  color: #fff;
  background-color: #da4453;
  border-color: #da4453
}

.btn-clear-g {
  color: #48bcb4;
  background: 0 0;
  border-color: #48bcb4
}

.btn-clear-g:hover {
  color: #fff
}
